body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font: 12pt "Tahoma";
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 1cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
  /* padding: 1cm; */
  border: 1px black solid;
  height: 276mm;
  outline: 1cm #ffeaea solid;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

.newspaper {
  column-count: 3;
  /* margin-top: 10px; */
  column-gap: 40px;
  column-rule: 4px double #ff00ff;
}

.info-row {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}
.info-row span {
  font-size: 14px;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 1px;
  color: #222222;
}

.h1-name {
  margin-top: 0;
  margin-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 25px;
  font-weight: lighter;
  font-family:'Forum';
  color: #185212;
  width: 100%;
  letter-spacing: 3px;
  text-align-last:justify;
  /* word-spacing: 2px; */
  text-transform: uppercase;
}